* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:  rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div.card {
    background-color: rgb(255, 255, 255);
    padding: 1em;
    box-shadow: 0 0 1em 0.2em rgb(0, 0, 0, 0.4);
}

div.card h2 {
    padding-bottom: 0.2em;
}