
body {
    background-color:  rgb(238, 238, 238);
    padding: 2em 7em;
    
}


div.page {
    display: flex;
    flex-wrap: wrap;
    min-width: 45em;
}


main {
    display: flex;
    flex-wrap: wrap;
    max-width: 60em;
}


p {
    font-size: 1em;
    line-height: 1.5;
    max-width: 60em;
    padding-bottom: 1em;
    
}


h1, h2 {
    font-family: Georgia, serif;
}


img {
    background-color:  rgb(255, 255, 255);
    border: 2px solid black;
    padding: 10px;
}


blockquote {
    font-family: Georgia, serif;
    float: right;
    max-width: 20em;
    border-left: 2px solid grey;
    padding-left: 2em;
    color: grey;
    font-style: italic;
}


aside a {
    color:  rgb(0, 153, 0);
    text-decoration: none;
}


.site-title {
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Gill Sans', sans-serif;
    font-weight: bold;
}


.page>header {
    border-bottom: 2px solid black;
    flex-basis: 100%;
}


main h1, main h2 {
    font-weight: lighter;
}


article:nth-child(2)>img {
    float: right;
    margin-right: 5em;
    margin-left: 2em;
    
}

blockquote p:nth-child(2) {
    text-align: end;
}

article:last-child>img {
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
    margin-top: 1.1em;
}

aside nav {
    margin-left: 2em;
}





